
  /* himanshu */
  .calculator {
    width: 440px;
    margin: 0 auto;
    text-align: center;
    background-color: #bab0ab;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  #result {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 18px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  
  button {
    padding: 20px;
    font-size: 36px;
    background-color: #8aa60f;
    color: white;
    border: #080951;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:active {
    background-color: #27330b;
  }
  